<ion-view title="About">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">
<div class="col col-80 col-offset-10">
  <br>
  <h2>Learn</h2>
  <p>
  This project represents an interesting set of challenges for me. Additionally,
  it's a fun way to learn about a bunch of new technologies like AngularJS, Ionic,
  Firebase, and Cordova.
  </p>
  <h2>Plan</h2>
  <p>
  I do a decent amount of travelling. Combine that with my need to over-analyze
  and you shouldn't be surprised that I could get a lot of value from an app to
  figure out logistics for multi-destination trips.
  </p>
  <h2>Share</h2>
  <p>
  Beyond being tough to plan perfectly, complex trips can be difficult to share
  with family and friends. An aim of this project is to make it easy and seamless
  to communicate travel plans with automatic updates as changes are made.
  </p>
  <h2>Notify</h2>
  <p>
  Something I'd like to develop into this project is the ability for users to
  "subscribe" to a friend's itinerary. Subscribers will receive updates relevant
  to the current state of travel. One example would be text updates on your ETA:
  <blockquote>"Trip Started 12:12pm - John's ETA is 6:22pm (in 6h)."</blockquote>
  <blockquote>"Trip Update 3:12pm - Making good time! John's ETA is 6:12pm (in 3h)."</blockquote>
  <blockquote>"Trip Update 4:12pm - Traffic delay! John's ETA is now 6:35pm (in 2h 23m)."</blockquote>
  <blockquote>"Trip Update 6:05pm - John's ETA is still 6:35pm (in 30m)."</blockquote>
  </p>
  <h2>Track</h2>
  <p>
  Something I have a personal interest in is tracking my gas fillups. I find you
  can derive some interesting trends from looking at your historical gas such as
  changes in gas price, trends in your fuel economy, trends in your travelling.
  An extra feature I'd like to provide with this project is a database of gas
  prices, and your personal historical stops. By knowing where you've stopped in
  the past, the app can help you plan stops at your preferred gas stations or
  rest stops.
  </p>
</div>
</ion-content>
<ion-nav-buttons side="right">
<button menu-toggle="right" class="button button-icon icon ion-person"></button>
</ion-nav-buttons>
</ion-view>
