<header class="bar bar-header bar-balanced">
  <h1 class="title">Account</h1>
</header>
<ion-content class="has-header" ng-show-auth="['logout','error']">
  <ion-list ng-repeat="provider in providers">
    <ion-item nav-clear href="#" eat-click ng-click="login(provider)">
      <i class="icon ion-social-{{provider | lowercase}}"></i> Sign In with {{ provider }}
    </ion-item>
    <ion-item class="energized" href="#" eat-click ng-show="auth.error">{{auth.error}}</ion-item>
  </ion-list>
</ion-content>
<ion-content class="has-header" ng-show-auth="'login'">
  <ion-list>
    <ion-item class="item item-avatar" href="#" eat-click>
      <img src="{{auth.user.thirdPartyUserData.picture}}" ng-show="!!auth.user && !!auth.user.thirdPartyUserData && !!auth.user.thirdPartyUserData.picture"/>
      <h2><i class="icon ion-social-{{auth.user.provider | lowercase}}"></i>&nbsp;{{auth.user.displayName}}</h2>
      <h4>{{auth.user.email}}</h4>
    </ion-item>
    <ion-item href="#" eat-click ng-click="logout()">
      <h2><i class="icon ion-log-out"></i>&nbsp;&nbsp;Sign Out</h2>
    </ion-item>
  </ion-list>
</ion-content>