<ion-view title="Trip Destinations">
<ion-content class="padding">
   <ion-refresher
     pulling-text="Pull to refresh..."
     on-refresh="doRefresh()">
   </ion-refresher>
   <div class="row padding">
     <div class="col" ng-repeat="(idx,item) in overviewItems">
      <a class="item item-icon-left">
         <i class="icon {{item.icon}}"></i>
         <h2>{{item.title}}</h2>
         <p>{{(trip[item.key] || '') | prettyUnits:item.type}}</p>
      </a>
      </div>
   </div>
   <ion-list class="list-no-borders">
      <ion-item ng-repeat="(idx,destination) in trip.destinations" ng-click="editDestination(idx)">
         <div eat-click class="row row-dense" ng-show="destination.distance || destination.duration">
            <div class="col col-offset-10" ng-show="destination.distance">
               <div class="item item-icon-left">
                  <i class="icon ion-model-s"></i>
                  <p>{{destination.distance | distanceString}}</p>
               </div>
            </div>
            <div class="col" ng-show="destination.duration">
               <div class="item item-icon-left item-small">
                  <i class="icon ion-ios7-timer-outline"></i>
                  <p>{{destination.duration | durationString:'minimal'}}</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col col-10 calendar-stack" ng-show="destination.arriveDate || destination.departDate">
               <i class="icon ion-calendar"></i>
               <h4 ng-show="destination.arriveDate">{{ destination.arriveDate | date:'dd' }}</h4>
               <h4 ng-hide="destination.arriveDate">{{ destination.departDate | date:'dd' }}</h4>
            </div>
            <div class="col col-50">
               <h2>{{destination.name}}</h2>
               <p>{{destination.info || destination.details.formatted_address}}</p>
            </div>
            <div class="col-10" ng-show="destination.arriveDate && destination.departDate">
               <i class="icon ion-ios7-clock-outline"></i>
               <p>{{ (departDateTime(destination) - arriveDateTime(destination))/1000 | durationString:'brief' }}</p>
            </div>
            <div class="col" ng-show="destination.arriveDate || destination.departDate">
               <p ng-show="destination.arriveDate"><strong>Arrive:</strong> {{ arriveDateTime(destination) }}</p>
               <p ng-show="destination.departDate"><strong>Depart:</strong> {{ departDateTime(destination) }}</p>
            </div>
         </div>
      </ion-item>
   </ion-list>
   <form ng-submit="addDestination($scope.newDestination, $scope.newDestinationDetails)">
      <div class="item item-input padding">
         <!-- <label class="item-input-wrapper"> -->
         <input type="text" ng-autocomplete ng-model="newDestination" options="autocompleteOptions" details="newDestinationDetails" placeholder="Add a location"/>
         <!-- </label> -->
         <button class="button button-balanced" ng-show="!!newDestination && !!newDestinationDetails">
            <i class="icon ion-plus"></i>
         </button>
      </div>
   </form>
   <p>Place: {{newDestination}}</p>
   <p style="max-height:100px; overflow-y:scroll;">Details: {{newDestinationDetails}}</p>
   <p>Directions <button ng-click="calculateRoute()"><i class="icon ion-refresh"></i></button> {{trip.directions}}</p>
</ion-content>
</ion-view>
