<ion-view title="Trip Destinations">
<ion-content class="padding">
   <div class="row padding">
     <div class="col" ng-repeat="(idx,item) in overviewItems">
      <a class="item item-icon-left">
         <i class="icon {{item.icon}}"></i>
         <h2>{{item.title}}</h2>
         <p>{{trip[item.key] || 'N/A'}}</p>
      </a>
      </div>
   </div>
   <ion-list>
      <ion-item ng-repeat="destination in trip.destinations">
         <h2>{{destination.name}}</h2>
         <p>{{destination.details.formatted_address}}</p>
      </ion-item>
   </ion-list>
   <form ng-submit="addDestination($scope.newDestination, $scope.newDestinationDetails)">
      <div class="item item-input">
         <!-- <label class="item-input-wrapper"> -->
         <input type="text" ng-autocomplete ng-model="newDestination" options="autocompleteOptions" details="newDestinationDetails" placeholder="Add a location"/>
         <!-- </label> -->
         <button class="button button-balanced" ng-show="!!newDestination && !!newDestinationDetails">
            <i class="icon ion-plus"></i>
         </button>
      </div>
   </form>
   <p>Place: {{newDestination}}</p>
   <p style="max-height:100px; overflow-y:scroll;">Details: {{newDestinationDetails}}</p>
   <p>Directions <button ng-click="calculateRoute()"><i class="icon ion-refresh"></i></button> {{trip.directions}}</p>
</ion-content>
</ion-view>
