<ion-view title="Trip Details">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="banner-group">
      <img src="{{trip.pic || 'http://whitemagicsamoyeds.com/images/slides/14_Alexia_and_Her_Litter_Mates-2.jpg'}}" ng-hide="showMap">
      <google-map zoom="map.zoom" center="map.center" draggable="true">
         <layer type="TransitLayer" show="true"></layer>
      </google-map>
      <label class="toggle">
        <input type="checkbox" ng-model="showMap">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
      <div class="item item-thumbnail-left" ng-click="showDetails = !showDetails" ng-hide="showMap">
        <img src="{{trip.avatar || 'http://ionicframework.com/img/docs/blue-album.jpg' }}">
        <h1>{{trip.name}}
         <small>{{trip.info}}
            <i ng-hide="showDetails" class="icon ion-chevron-down"></i>
            <i ng-show="showDetails" class="icon ion-chevron-up"></i>
         </small>
        </h1>
        <p ng-show="showDetails">{{trip.details}}</p>
      </div>
    </div>
  </ion-content>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="editModal.show()"><i class="icon ion-edit"></i></button>
    <button menu-toggle="right" class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>
</ion-view>
