<ion-view title="Trip Details">
  <ion-content>
    <div>
      <div class="item item-thumbnail-left" ng-click="showDetails = !showDetails">
        <img ng-src="{{trip.avatar || 'http://ionicframework.com/img/docs/blue-album.jpg' }}">
        <h1>{{trip.name}}
         <small>{{trip.info}}
            <i ng-hide="showDetails" class="icon ion-chevron-down"></i>
            <i ng-show="showDetails" class="icon ion-chevron-up"></i>
         </small>
        </h1>
        <p ng-show="showDetails">{{trip.details}}</p>
      </div>
      <img ng-src="{{trip.pic || 'http://whitemagicsamoyeds.com/images/slides/14_Alexia_and_Her_Litter_Mates-2.jpg'}}" style="width:100%;">
    </div>
  </ion-content>
</ion-view>
