<header class="bar bar-header bar-balanced">
  <a ui-sref="app.trips" menu-close><h1 class="title">Trips</h1></a>
</header>
<ion-content class="has-header">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <ion-list>
    <form ng-submit="createTrip()">
      <div class="item item-input">
          <!-- <label class="item-input-wrapper"> -->
            <input type="text" placeholder="New Trip Name" ng-model="newTrip.name">
          <!-- </label> -->
          <button class="button button-balanced">
            <i class="icon ion-plus"></i>
          </button>
      </div>
    </form>
    <a ng-repeat="(idx,trip) in trips" class="item item-thumbnail-left item-icon-right" menu-close ui-sref="app.trip.details({ id: trip.$id})">
      <img ng-src="{{trip.avatar || 'http://ionicframework.com/img/docs/blue-album.jpg' }}">
      <h2>{{trip.name}}</h2>
      <p>{{trip.info || 'Trip desc'}}</p>
      <i class="icon ion-chevron-right"></i>
    </a>
  </ion-list>
</ion-content>
