<ion-view title="Trips">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <form ng-submit="createTrip()">
        <div class="item item-input">
            <!-- <label class="item-input-wrapper"> -->
              <input type="text" placeholder="New Trip Name" ng-model="newTrip.name">
            <!-- </label> -->
            <button class="button button-balanced">
              <i class="icon ion-plus"></i>
            </button>
        </div>
      </form>
      <div class="item item-toggle">
        <span ng-show="expandAll">Expand All</span>
        <span ng-hide="expandAll">Collapse All</span>
        <label class="toggle toggle-energized">
          <input type="checkbox" ng-model="expandAll" ng-change="updateExpansion()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div>
        <div class="card responsive-card" ng-repeat="(idx,trip) in trips">
          <a class="item item-avatar item-icon-right" ui-sref="app.trip.details({ id: trip.$id})">
            <img ng-src="{{trip.avatar || 'http://ionicframework.com/img/docs/blue-album.jpg' }}">
            <h2>{{trip.name}}</h2>
            <i class="icon ion-chevron-right"></i>
            <p>{{trip.info || 'Trip desc'}}</p>
          </a>
          <div class="item item-body">
            <img class="full-image" ng-src="{{trip.pic || 'http://whitemagicsamoyeds.com/images/slides/14_Alexia_and_Her_Litter_Mates-2.jpg'}}">
            <div ng-show="expandAll">
              <p>
                {{trip.details || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in pharetra justo,
                vel feugiat urna. Fusce sodales odio ut eros semper ullamcorper vel eu diam. Quisque at dictum magna, vel
                mattis magna. Etiam eros enim, mattis in odio quis, blandit suscipit eros. Donec auctor dui ipsum, eget viverra nunc semper.'}}
              </p>
              <p>
                <a href="#" class="subdued">{{trip.startDate || 'Jan 24, 2015'}}</a>
                <a href="#" class="subdued">{{trip.totalDuration || '2h 33m'}}</a>
                <a href="#" class="subdued">{{trip.totalDistance || '145 miles'}}</a>
                <a href="#" class="subdued">{{trip.totalStops || '3 stops'}}</a>
              </p>
            </div>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#" ng-hide="trip.ownerId == currentUser.uid">
              <i class="icon ion-log-out"></i>
              Leave
            </a>
            <span class="tab-item" ng-click="deleteTrip(trip.$id)" ng-show="trip.ownerId == currentUser.uid">
              <i class="icon ion-close"></i>
              Delete
            </span>
            <!-- <span class="tab-item" ng-click="trip.expanded = !trip.expanded">
              <i class="icon ion-chevron-up" ng-show="trip.expanded"></i>
              <i class="icon ion-chevron-down" ng-hide="trip.expanded"></i>
            </span> -->
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>
</ion-view>
