<div class="modal">

  <div class="bar bar-header bar-energized">
    <h1 class="title">{{ destination.name }}</h1>
    <button class="button button-clear" ng-click="editDestinationModal.hide()"><i class="icon ion-close"></i></button>
  </div>
  <br><br>
  <form name="editDestinationForm" ng-submit="trip.$save() && editDestinationModal.hide()">
    <div class="list">
      <div class="list">
        <a href="{{destination.details.url}}"  target="_blank" class="item item-icon-right">
          <h2>{{destination.name}}</h2>
          <p>{{destination.info || destination.details.formatted_address}}</p>
          <i class="icon ion-map"></i>
        </a>
        <label class="item item-input item-floating-label">
          <span class="input-label">About</span>
          <input type="text" placeholder="About" ng-model="destination.info">
        </label>
        <label class="item item-input" ng-hide="destinationIdx === 0">
          <span class="input-label">Arrive Date</span>
          <input type="date" placeholder="Arrive Date" name="arriveDate" ng-model="destination.arrive.date" ng-disabled="destination.arrive.disabled" min="{{fakeMin()}}">
        </label>
        <label class="item item-input" ng-hide="destinationIdx === 0 || !destination.arrive.date">
          <span class="input-label">Arrive Time</span>
          <input type="time" placeholder="Arrive Time" name="arriveTime" ng-model="destination.arrive.time" ng-disabled="destination.arrive.disabled">
        </label>
        <label class="item item-input" ng-hide="">
          <span class="input-label">Duration</span>
          <input type="number" placeholder="Days" name="durationDays" ng-model="destination.stay.days" ng-disabled="destination.stay.disabled">
          <input type="time" placeholder="Hours:Minutes" name="durationTime" ng-model="destination.stay.time" ng-disabled="destination.stay.disabled">
        </label>
        <label class="item item-input" ng-hide="">
          <span class="input-label">Depart Date</span>
          <input type="date" placeholder="Depart" ng-model="destination.depart.date" ng-disabled="destination.depart.disabled">
        </label>
        <label class="item item-input" ng-hide="!destination.depart.date">
          <span class="input-label">Depart Time</span>
          <input type="time" placeholder="Depart" ng-model="destination.depart.time" ng-disabled="destination.depart.disabled">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Notes</span>
          <textarea placeholder="Notes" ng-model="destination.notes"></textarea>
        </label>
      </div>
      <div class="list list-inset">
      <button class="button button-block button-stable" type="submit">
        Save Details
      </button>
      <button class="button button-block button-assertive" ng-click="removeDestination(destinationIdx)">
        Delete
      </button>
      </div>
    </div>
  </form>

</div>
