/* Empty. Add your own CSS if you like */
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

.icon-stack {
  font-size: 60px !important;
  display:block !important;
  width: 65px !important;
  height: 65px !important;
  text-align:center;
  i{
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.icon-cap {
  font-size: 60px !important;
  display:block !important;
  width: 65px !important;
  height: 65px !important;
  text-align:center;
  i{
    left:32px !important;
    right:32px !important;
  }
  i:first-child{
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
  }
}

.red{
  color: red !important;
}

img.banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.banner-group {
   position: relative;
   width: 100%; /* for IE 6 */
   padding-bottom: 40px;
}
.banner-group .toggle {
  position: absolute;
  top:5px;
  right:10px;
}
.banner-group .toggle .track {
  border:solid black 2px;
}
.banner-group > img {
   width: 100%;
}
.banner-group .item {
   position: absolute;
   top: 100px;
   left: 0;
   width: auto;
   background-color: rgba(0, 0, 0, 0.7);
   border: none;
}
.banner-group .item .icon {
   padding-left: 30px;
   padding-right: 20px;
}
.banner-group .item h1,.banner-group .item h2, .banner-group .item h3, .banner-group .item  h4, .banner-group .item p {
   color: whitesmoke;
   white-space: normal;
}
.banner-group .item p {
   white-space: normal;
}

.responsive-card {
  float:left;
  width:97%;
}

@media screen and (min-width: 560px)  {
  .responsive-card {
    width:46%;
  }
}
@media screen and (min-width: 860px)  {
  .responsive-card {
    width:31%;
  }
}
@media screen and (min-width: 1000px) {
  .responsive-card {
    width:23%;
  }
}
@media screen and (min-width: 1400px) {
  .responsive-card {
    width:19%;
  }
}

.angular-google-map-container {
  height: 400px;
}

.list-no-borders > .list > .item:not(:first-child) {
  border-top: none;
}
.list-no-borders > .list > .item:not(:last-child) {
  border-bottom: none;
}
.list-no-borders > .list > .item {
  padding-bottom: 4px;
}

.row-dense {
  margin-top: -30px;
  border: none;
}
.row-dense .col {
  padding: 0px;
  border: none;
}
.row-dense .item {
  border: none;
}

.center {
  text-align: center;
}

.calendar-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.calendar-stack .icon {
  font-size: 3em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3em;
}
.calendar-stack h4 {
  position: absolute;
  font-size: 2em;
  top: 0px;
  left: 0px;
  width: 3em;
  margin-left: 4px;
  margin-top: .3em;
}

@media screen and (max-width: 560px)  {
  .calendar-stack .icon {
    font-size: 2em;
  }
  .calendar-stack h4 {
    font-size: 1.2em;
    margin-left: 3px;
    margin-top: .4em;
  }
}